body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button:hover{
  background: rgb(12, 25, 177);
  color: white;
}
.divImg{
  position: relative;
}
.btnImg{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}
.divImg{
  position: relative;
}
.buttonImg{
  position: absolute;
  right: 0;
  top: 0;
  background: none;
}
tr{
  text-align: center;
}